.text-black {
  display: none;
}

.dark-background {
  background-color: black;
  color: white;
}
.light-background {
  background-color: white;
  color: black;

}

.walrus-showing {
  display: none;
}
.slide-walrus {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
